@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    /* Light theme. */
    --light--dark-one: #333;
    --light--dark-two: #7a7a7a;
    --light--radColor: hsl(210, 12%, 35%);
    --light--mainColor: #003d08;
    --light--bgColor: #fff;
    --light--conColor: #FAFCFF;
    --light-mode: black;
    --light--textColor: #fff;
    --light--btn: var(--light--mainColor);

    /* Used theme. */
    --dark-one: var(--light--dark-one);
    --dark-two: var(--light--dark-two);
    --mainColor: var(--light--mainColor);
    --bgColor: var(--light--bgColor);
    --textColor: var(--light--textColor);
    --radColor: var(--light--radColor);
    --conColor: var(--light--conColor);
    --text-mode: var(--light-mode);
    --btn: var(--light--btn);

    --hoverColor: #006102;
    --glowColor: #FDCF18;
    --gColor: green;

    /* Dark theme. */
    --dark--mainColor: var(--gColor);
    --dark--textColor: black;

    --dark--dark-one: #c8c3bc;
    --dark--dark-two: #9b9285;
    --dark--radColor: #afa99e;
    --dark--bgColor: #181a1b;
    --dark--conColor: #191c1d;
    --dark-mode: #e8e6e3;
    --dark--btn: transparent;
}

* {
    transition: .5s;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--bgColor);
}

header {
    margin-top: 0.5%;
    margin-right: 2%;
}

.logo {
    margin-left: 5%;
    width: 10%;
    height: auto;
    object-fit: contain;
}

.nav {
    float: right;
}

.nav .join {
    border-color: var(--textColor);
    border-radius: 7px;
    height: 40px;
    width: 135px;
    background-color: var(--btn);
    color: #fff;
    cursor: pointer;
    border-color: var(--glowColor);
}

.nav .join:hover {
    background-color: var(--hoverColor);
    height: 42px;
    width: 140px;
    box-shadow: 0 0 2px var(--textColor), 0 0 2px var(--textColor), 0 0 3px var(--textColor), 0 0 4px var(--glowColor), 0 0 7px var(--glowColor), 0 0 80px var(--glowColor), 0 0 20px var(--glowColor);
}

.title {
    color: var(--dark-one);
    margin-left: 10%;
    margin-top: 10%;
    cursor:default;
}

.text {
    margin-left: 8%;
    max-width: 80%;
    color: var(--text-mode);
}

span {
    color: var(--hoverColor);
    background-color: transparent;
}

hr {
    border: none;
    border-top: 1px solid var(--glowColor);
    margin-top: 20%;
}

.about {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--text-mode);
}

.u {
    padding-top: 60px;
    background-color: var(--conColor);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.card {
    text-align: center;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 1.5%;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-color: var(--gColor);
    border-bottom-width: 2px;
    width: 50%;
    -webkit-box-shadow: -1px 3px 60px -45px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 60px -45px rgba(0,0,0,0.75);
box-shadow: -1px 3px 60px -45px rgba(0,0,0,0.75);
}
  
.card img {
    height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
}
  
.card-content {
    padding: 10px;
    flex: 0.5;
}
  
.card h3 {
    color: var(--dark-one);
    font-size: 1.2em;
    margin-bottom: 10px;
}
  
.card p {
    color: var(--dark-two);
    font-size: 0.95em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.ach-header {
    margin-top: 16%;
    text-align: center;
}

.ach-header h4 {
    color:var(--hoverColor);
    font-size: 18px;
    font-weight: 410;
    letter-spacing: 2px;
}

.ach-header h3 {
    color: var(--radColor);
    font-size: 23px;
    font-weight: 460;
}

.ach-header p {
    text-decoration: underline;
    text-decoration-color: var(--hoverColor);
    text-decoration-thickness: 2.43px;
    margin-top: -15px;
    color: transparent;
    cursor: default;
    user-select: none;
}

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--dark-one);
}

.regin {
    float: right;
    width: 43%;
    margin-right: 8%;
    margin-top: -18%;
    background-color: transparent;
}

.regin:hover {
    width: 48%;
}

@media (max-width: 768px) {
.cards {
    display: inline;
}

.card {
    margin-left: 15%;
    margin-top: 9%;
    padding: 10%;
    font-size: 95%;
}

.regin {
    float: none;
    width: 100%;
    margin-top: 0%;
    margin-left: -15%;
}

.regin:hover {
    width: 0%;
}
}
    
@media (min-width: 768px) {
.card {
    margin-top: -3%;
    flex: 0.28;
}

.card:hover {
    border-bottom-width: 9px;
    margin-bottom: -70px;
}
}
    
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
.card {
        flex: 0%;
}
}